@import url(Styles.css);

.cabecalho{
    width: 600px;
}

.logo{
    margin-top: 1em;
    margin-left: 4em;
    font-size: 25px;
    font-family: var(--fonte--logo);
    color: var(--cor--branco--principal);
    text-transform: uppercase;
    text-align: center;
}