@import url(Styles.css);
@import url(Footer.css);

.Logo{
    font-family: var(--fonte--logo);
    font-size: 25px;
    color: var(--cor--azul--principal);
    margin: 1em;
}

.area-principal{
    
    color: var(--cor--branco--principal);
    background-color: var(--cor--azul--principal);
    padding: 5em;
    width: 35%;
    margin: 4em 20em;
}

.titulo-login{
    font-family: var(--fonte--titulo);
    font-size: 20px;
    font-weight: 700;
}

.login-padrao{
    background: var(--cor--cinza--principal);
    font-family: var(--fonte--texto);
    color: var(--cor--preto--principal);
    margin: 2em 1.5em 1.5em 1.5em;
    display: flex;
    padding: 0.7em 3em;
}

.entrar{
    background-color: var(--cor--laranja--principal);
    color: var(--cor--branco--principal);
    font-family: var(--fonte--titulo);
    font-weight: 700;
    font-size: 15px;
    margin: 0em 1em 1em 1em;
    padding: 0.5em 6em;  
    border: solid 0.5px var(--cor--branco--principal);
    border-radius: 5px;
}

.entrar:hover{
    background: var(--cor--vermelho--principal);
    transition: 1.5s;
}

