:root{
    --cor--azul--principal:#072247;
    --cor--azul--secundario: #1155CC; 
    --cor--azul--tercerizado:#4A86E8;
    --cor--branco--principal: #DFD1D1;
    --cor--laranja--principal: #EB9B00;
    --cor--preto--principal:#090808;
    --cor--azul--principal--degrade: linear-gradient(97.54deg, #072247 35.49%, #326589 165.37%);
    --cor--cinza--principal: #A6A6A6;
    --cor--vermelho--principal:#300000;
    --fonte--logo: 'Zen Dots', cursive;; 
    --fonte--titulo: 'Ubuntu Condensed', sans-serif;;
    --fonte--texto: 'Josefin Sans', sans-serif;
    --login--imagem: url(3.jpg);
    --ondas--transicao: url(Home.png);
    --img--fundo: url(imgfundo.png);

}